<div class="container">
    <div class="left">
        <div class="desc">
            <p>401 ОШИБКА</p>
            <h2>Доступ запрещен</h2>
            <h6>У вас нет прав на просмотр этого раздела</h6>
            <div class="arrow">
                <a (click)="goBack()">Назад →</a>
                <a routerLink="/">На главную →</a>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="https://ea-backend.wckz.space/dist/assets/image/image_404.png" alt="">
    </div>
</div>
