<div class="slider">
<div class="navigation">
  <div class="navigation_item" (click)="prev()" ></div>
  <div class="navigation_item" (click)="next()" ></div>
</div>
<div class="general">
<div class="container" #container>
  <div class="flex_block" *ngFor="let item of products">
    <div class="description">
      <div class="top_desc">
        <h1>{{ item.title }}</h1>
        <h6>{{ item.body }}</h6>
      </div>
      <div class="both_desc">
        <div class="logo">
          <div class="chicken">
            <div class="small_desc">
              <img src="../../../../assets/Timer.svg" alt="" />
              <span>{{ item.timeCooking }} минут</span>
            </div>
            <div class="small_desc">
              <img src="../../../../assets/ForkKnife.svg" alt="" />
              <span>{{ item.tags }}</span>
            </div>
          </div>
        </div>
        <div class="button_box">
          <div class="user">
            <div class="user_logo">
              <img src="{{ item.user.image }}" alt="" />
            </div>
            <div class="user_property">
              <p>{{ item.user.name }}</p>
              <p>{{ item.user.date | date : "longDate" }}</p>
            </div>
          </div>
          <div class="btn">
            <button
              mat-raised-button
              color="primary"
              class="red"
              style="
                background-color: black;
                padding: 27px 47px;
                border-radius: 16px;
                background-image: url('../../../../assets/PlayCircle.svg');
                background-repeat: no-repeat;
                background-position: right;
              "
               routerLink="{{item.id}}"
            >
              Посмотреть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div 
    class="image" 
    style=
    "background-image: url({{item.image}});
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;">
    </div>
  </div>
</div>
</div>
</div>
