.container {
    margin: 0 auto;
}

.desc {
    height: 640px;
    background-color: #E7FAFE;
    border-radius: 40px 0 0 40px;
}

::ng-deep .p-galleria {
    width: 100%;
    height: 640px;
    border-radius: 20px;
}

.logos {
    width: 690px;
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 40px 0 40px 0;
}


::ng-deep .p-galleria .p-galleria-item-nav {
    border: 1px solid red;
    position: absolute;
    height: 400px;
    top: 30%;
    margin: -100px;
    align-items: center;

}