 .slider {
     position: relative;
     width: 100%;
 }

 .general {
     width: 100%;
     overflow: hidden;
     margin-top: 100px;
 }

 .container {
     position: relative;
     display: flex;
     right: 0;
     width: 100%;
     transition: all ease 1s;
 }

 .navigation {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .navigation_item {
     margin: -80px;
     width: 40px;
     border-radius: 21px;
     background: #E6FAFE;
     height: 400px;
 }

 .top_desc h1 {
     margin-bottom: 30px;
 }

 .go {
     position: relative;
     display: flex;
 }

 .top_desc h6 {
     color: rgba(0, 0, 0, 0.60);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
 }

 .flex_block {
     position: relative;
     min-width: 100%;
     min-height: 620px;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .description {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 45px 50px;
     background-color: #E7FAFE;
     border-radius: 20px 0 0 25px;
 }

 .user_logo img {
     width: 50px;
     height: 50px;
     border-radius: 50px;
 }

 .small_desc {
     width: 140px;
     min-height: 40px;
     justify-content: center;
     align-items: center;
     border-radius: 30px;
     background-color: rgba(0, 0, 0, 0.05);
     display: flex;
     margin-right: 16px;
 }

 .chicken {
     display: flex;
 }

 .small_desc img {
     margin-right: 10px;
 }

 .user_property p:first-child {
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: -0.32px;
 }

 .user_property p:last-child {
     color: rgba(0, 0, 0, 0.60);
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: -0.28px;
 }

 .user {
     display: flex;
     align-items: center;
 }

 .user_logo {
     margin-right: 16px;
 }

 .button_box {
     margin-top: 38px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .image {
     border-radius: 0 20px 20px 0;
 }

 .red {
     right: 100%;
 }