<div class="position">
  <form>
    <div class="form">
      <h4>Войдите в ваш аккаунт</h4>
      <div class="container">
        <div class="form_container">

          
          <div>
            <div class="flex flex-column gap-2 box_input">
              <label htmlFor="username">Логин</label>
              <input
                pInputText
                id="username"
                placeholder="write login"
                [(ngModel)]="addNewBook.nameBook"
                name="nameBook"
                required
                #name="ngModel"
                [ngClass]="{ validation: name.invalid && name.dirty }"
              />
            </div>
            <div class="flex flex-column gap-2 box_input">
              <label htmlFor="username">Пароль</label>
              <input
                pInputText
                id="username"
                placeholder="write login"
                id="username"
                [(ngModel)]="addNewBook.auctor"
                name="auctor"
                required
                #creator="ngModel"
                [ngClass]="{ validation: creator.invalid && creator.dirty }"
              />
            </div>
          </div>

          <div class="remember">
            <div class="checkbox">
              <input type="checkbox" name="" id="" />
              <label for="">Запомнить меня</label>
            </div>
            <a> <span>Зарегистрироваться</span> </a>
          </div>
          <p-button
            label="Вход"
            [disabled]="name.invalid || creator.invalid || false"
          ></p-button>
          <div class="sign">
            <div class="arrow"></div>
            <a>Войти через</a>
            <div class="arrow"></div>
          </div>
          <p-button styleClass="p-button-outlined p-button-secondary">
            <img
              alt="logo"
              src="../../../assets/github-mark.svg"
              style="width: 1.5rem; margin: 0 auto"
            />
          </p-button>
        </div>
      </div>
    </div>
  </form>
</div>
