<div class="container">
  <div class="logo">
    <img src="../../../../assets/Foodie.svg" alt="logo" />
  </div>
  <div class="link">
    <ul>
      <li>Главная</li>
      <li>Каталог рецептов</li>
    </ul>
  </div>
  <div class="flex">
  <!-- <div class="user">
    <p-button label="Войти"> </p-button>
  </div> -->
  <div class="red">
    <div mat-button [matMenuTriggerFor]="menu">
      <div class="menu">
        <div class="logo_user">123</div>
        <div>
          <span>Ivanov Ivan</span>
          <p>Пользователь</p>
        </div>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <div class="menu_item">
        <button mat-menu-item>Вы вошли как</button>
        <button mat-menu-item>Настройки аккаунта</button>
        <button mat-menu-item>Выход</button>
      </div>
    </mat-menu>
  </div>
</div>
</div>
