<div class="container">
  <div class="logo">
    <img src="../../../../assets/Foodie.svg" alt="logo" />
  </div>
  <div class="link">
    <ul>
      <li routerLink="/">Главная</li>
      <li routerLink="/recipe">Каталог рецептов</li>
      <li *ngIf="user.isAuth" routerLink="/create-recipe">Создание Рецептов</li>
    </ul>
  </div>
  <div class="flex">
    <div class="user" *ngIf="!user.isAuth">
    <p-button label="Войти"
    routerLink="/auth"> </p-button>
  </div> 
    <div class="red"  *ngIf="user.isAuth">
      <div mat-button [matMenuTriggerFor]="menu">
        <div class="menu">
          <div class="logo_user">
            <img src="{{ user.image }}" alt="" />
          </div>
          <div>
            <span>{{ user.fullname }}</span>
            <p>{{ user.role }}</p>
          </div>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <div class="menu_item">
          <button mat-menu-item>{{ user.username }}</button>
          <button mat-menu-item>Настройки аккаунта</button>
          <button mat-menu-item>Выход</button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
