<div class="container">
  <div class="create_recipe">
    <div *ngIf = 'item'>
      <h1>this is id{{item.id}}</h1>
      <h3 *ngIf="obj">{{ title }} {{ obj.title }}</h3>
    </div>
    <form [formGroup]="createRecipeForm" class="basic_information">
      <div>
        <div class="input_field">
          <h5>Основная информация</h5>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Название рецепта</p>
          </label>
          <div class="max_field input">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Краткое описание</p>
          </label>
          <div class="max_field input">
            <textarea rows="2" cols="30" pInputTextarea></textarea>
            <p>Опишите о чем ваш рецепт</p>
          </div>
        </div>
        <div *ngIf="imageBlock" class="input_field">
          <label class="title">
            <p>Фотография</p>
          </label>
          <div class="max_field input">
            <textarea rows="2" cols="30" pInputTextarea></textarea>
          </div>
        </div>
      </div>
      <div>
        <div class="input_field">
          <h5>Дополнительная информация</h5>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Категория</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Время приготовления</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Первый ингридиент</p>
          </label>
          <div class="max_field input">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Белки</p>
          </label>
          <div class="max_field input">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Жиры</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Углеводы</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Калории</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="column">
          <h5>Детальная информация</h5>
          <p>Детально опишите первый шаг вашего рецепта</p>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Краткое действие первого шага</p>
          </label>
          <div class="min_field">
            <input pInputText />
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Описание первого шага</p>
          </label>
          <div class="max_field">
            <textarea rows="1" cols="20" pInputTextarea></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn">
    <p-button
      label="{{ submitBtn }}"
      icon="pi pi-check"
      (onClick)="onSave()"
    ></p-button>
  </div>
</div>

<div *ngIf = 'item'>
  <ul>
    <li>{{item.recipe.title}}</li>
    <li>{{item.recipe.tags}}</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
