.edit {
    background-image: url('../../../../assets/material-symbols_edit-outline.svg');
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position: center;
    background-size: contain;
}

.delete {
    background-image: url('../../../../assets/mi_delete.svg');
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position: center;
    background-size: contain;
}

th {
    color: var(--gray-500, #6B7280);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}