.box_recipe {
    position: relative;
    max-width: 400px;
    height: 434px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
    padding: 16px;
}

.flex {
    margin: 0px 40px 0 40px;
}

.logo img {
    border-radius: 45px;
}

.tags {
    display: flex;
    align-items: center;
    margin-right: 34px;
}

.tags span {
    margin-right: 10px;
}

.favorite {
    position: absolute;
    top: 36px;
    right: 36px;
}

.icons {
    display: flex;
}

.description {
    padding: 24px 0 27px 0;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 0 100px 0;
    border-bottom: 1px solid #D1D5DB;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.header h2 {
    margin-bottom: 24px;
}

.header h6 {
    max-width: 706px;
    margin: 0 auto;
}

.more {
    text-align: center;
    margin: 0 auto;
}

.more button {
    margin: 0px 0 100px 0;
}
.favorite_btn_active {
    background-color: red;
}
.favorite_btn_disable {
    background-color: #DBE2E5;
}