@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.4px;
}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

h4 {
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.96px;
}

h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}